:root {
  --main-bg: #12203E;
}

body {
  margin: 0;
  padding: 0;
  /* height: 100vh;
  width: 100vw; */
  box-sizing: border-box;
  background-color: var(--main-bg);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}